body {
    background-image : url('../img/astolfo_filtered.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin:0 auto;
    transition: 3s;
}
p {
    padding: 0;
    margin: 1vh 0 0 1vh;
}
label {
    padding: 0;
    margin: 1vh 0 0 1vh;
}
@font-face {
    font-family: CascadiaCode;
    src: url('../font/cascadia code/Cascadia.ttf');
}

.terminal * {
    color: red;
    font-family: CascadiaCode;
    position: relative;
}
div.terminal {
    position: absolute;
    width: 100%;
    height: 100%;
}

input[type="text"].terminal-input {
    background: transparent;
    border: 0;
    border-style: hidden;
    color:#7F0000;
    font-weight: 1000;
    outline: none;
    padding: 0;
    margin: 0 0 0 1vh;
    outline: 0;
    font-size: 16px;
    width: 70%;
}
.log {
    margin-top: 1vh;
}
p.log{
    display: inline;
}
.command-input {
    color: #7F0000;
}

.response {
    color: red;
    font-weight: 1000;
    padding-top: 0;
    margin: 0 0 0 1vh;
    text-decoration: none;
}
.response :link{
    color: #CF86FF;
    text-decoration: underline;
}

.transition {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}